services:
  loadbalancer:
    image: nginx:latest
    container_name: loadbalancer
    ports:
      - "80:80"
    volumes:
      - ./loadbalancer/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - web
    networks:
      - appnet

  backend:
    build: ./backend
    container_name: backend
    expose:
      - "5000"
    networks:
      - appnet

  web:
    build: ./web
    container_name: web
    expose:
      - "80"
    networks:
      - appnet

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    restart: always

networks:
  appnet:
    driver: bridge

